In [2]:
import pandas as pd

In [3]:
data = pd.read_csv( "Data.csv" )
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [5]:
from sklearn.preprocessing import Imputer     #Note :- Imputer is only applicable on numbers, not on Strings.

imputer = Imputer()
print( f"imputer = { imputer } ")               #Imputer is loaded now.

imputer = Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

c:\users\gauta\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [6]:
imputer = imputer.fit( data.iloc[ :, 1: 3] )

In [7]:
data.iloc[ :, 1: 3].isnull().sum()

Age       1
Salary    1
dtype: int64

In [8]:
data.iloc[ :, 1: 3] = imputer.transform( data.iloc[ :, 1: 3] )

In [9]:
data.iloc[ :, 1: 3].isnull().sum()

Age       0
Salary    0
dtype: int64

In [10]:
'''
Steps For Data Imputer.
Note :-
        i) Import Imputer Library
        ii) imputer = Imputer.fit( dataFrame )   #here , dataFrame must contain only Integer Values.
        iii) dataFrame = imputer.fit( dataFrame )
'''

'\nSteps For Data Imputer.\nNote :-\n        i) Import Imputer Library\n        ii) imputer = Imputer.fit( dataFrame )   #here , dataFrame must contain only Integer Values.\n        iii) dataFrame = imputer.fit( dataFrame )\n'

In [12]:
col = len( data.columns )
print( f"col = {col}\n" )

x = data.iloc[ :, : col - 1]    #data.iloc[ :, : 3 ] -> 0, 1, 2

x.head()

col = 4

   Country   Age        Salary
0   France  44.0  72000.000000
1    Spain  27.0  48000.000000
2  Germany  30.0  54000.000000
3    Spain  38.0  61000.000000
4  Germany  40.0  63777.777778

In [13]:
y = data.iloc[ :, col-1 :  ]
y.head()

  Purchased
0        No
1       Yes
2        No
3        No
4       Yes