In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.shape

(10000, 14)

In [4]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
x = data.loc[ :, 'CreditScore' : 'EstimatedSalary' ]
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
y = data.loc[ :, 'Exited' ]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
x.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
dtype: int64

In [8]:
y.isnull().sum()

0

In [9]:
print( f"x.columns = { x.columns }" )
print()

for i in x.columns:
    print( i, end = ' -> ' )
    print( x[i].dtype )

x.columns = Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary'],
      dtype='object')

CreditScore -> int64
Geography -> object
Gender -> object
Age -> int64
Tenure -> int64
Balance -> float64
NumOfProducts -> int64
HasCrCard -> int64
IsActiveMember -> int64
EstimatedSalary -> float64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
print( x['Geography'].unique() )
print()
x['Geography'] = le.fit_transform( x['Geography'] )
print()
print( x['Geography'].unique() )
print()
x.head()

['France' 'Spain' 'Germany']


[0 2 1]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,Female,42,2,0.00,1,1,1,101348.88
1,608,2,Female,41,1,83807.86,1,0,1,112542.58
2,502,0,Female,42,8,159660.80,3,1,0,113931.57
3,699,0,Female,39,1,0.00,2,0,0,93826.63
4,850,2,Female,43,2,125510.82,1,1,1,79084.10

In [13]:
print( x['Gender'].unique() )
print()
x['Gender'] = le.fit_transform( x['Gender'] )
print()
print( x['Gender'].unique() )
print()
x.head()

['Female' 'Male']


[0 1]

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size = 0.2 )

In [16]:
print( x_train.shape )
print()
x_train.head()

(8000, 10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1210,711,0,1,51,7,0.00,3,1,0,38409.79
1002,725,1,1,39,1,50880.98,2,1,1,184023.54
8995,573,2,1,28,8,0.00,2,0,0,77660.03
8885,668,2,1,45,4,102486.21,2,1,1,158379.25
2555,755,0,1,38,9,148912.44,1,1,0,80416.16

In [17]:
print( x_test.shape )
print()
x_test.head()

(2000, 10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1095,692,0,1,29,4,0.00,1,1,0,76755.99
3440,722,0,0,47,2,88011.40,1,1,1,90655.94
2756,492,0,1,29,1,144591.96,1,1,1,196293.76
3858,695,0,1,45,9,43134.65,1,0,1,77330.35
8346,695,2,1,32,9,0.00,3,0,1,38533.79

In [18]:
print( y_train.shape )
print()
y_train.head()

(8000,)

1210    1
1002    0
8995    0
8885    0
2555    0
Name: Exited, dtype: int64

In [19]:
print( y_test.shape )
print()
y_test.head()

(2000,)

1095    1
3440    1
2756    0
3858    0
8346    0
Name: Exited, dtype: int64

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc = StandardScaler()

In [22]:
x_train = sc.fit_transform( x_train )
x_test = sc.fit_transform( x_test )

In [23]:
x_train

array([[ 0.62025289, -0.90220803,  0.91232714, ...,  0.64628603,
        -1.03382164, -1.0748824 ],
       [ 0.76427764,  0.30576925,  0.91232714, ...,  0.64628603,
         0.96728484,  1.46655007],
       [-0.79941968,  1.51374653,  0.91232714, ..., -1.54730252,
        -1.03382164, -0.38983834],
       ...,
       [ 0.54824051, -0.90220803,  0.91232714, ..., -1.54730252,
         0.96728484, -0.5791982 ],
       [-0.06900843,  0.30576925,  0.91232714, ...,  0.64628603,
         0.96728484, -0.63181729],
       [ 0.63054037,  0.30576925,  0.91232714, ...,  0.64628603,
         0.96728484, -0.71349586]])

In [24]:
x_test

array([[ 0.44698251, -0.90060232,  0.91278725, ...,  0.64531434,
        -1.01816496, -0.40638305],
       [ 0.76483297, -0.90060232, -1.09554554, ...,  0.64531434,
         0.98215912, -0.16814645],
       [-1.67202057, -0.90060232,  0.91278725, ...,  0.64531434,
         0.98215912,  1.64242083],
       ...,
       [-0.49597386,  1.52037166,  0.91278725, ...,  0.64531434,
         0.98215912, -1.39143733],
       [-1.32238506,  1.52037166,  0.91278725, ...,  0.64531434,
        -1.01816496, -0.56951537],
       [ 0.57412269,  0.30988467,  0.91278725, ...,  0.64531434,
        -1.01816496,  0.48991561]])

In [25]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [26]:
ann = Sequential()    #We do Sequential in ordeer to initiate a neural network.

In [27]:
ann.add( Dense( output_dim = 5, init = 'uniform', activation = 'relu', input_dim = 10 ) )

#ann.add( ? ), ? -> Dense( output_dim = 5, init = 'uniform', activation = 'relu', input_dim = 10 )

'''
Here, add is function of class Squential but inside that we are giving Dense() which will create Neural Network Layer.
Output_dim is the output of input_layer. 

So, very first as input nodes we have 10 and output as 1.
So, Nodes in Hidden Layer = ( Input Nodes + Output Nodes )//2 = ( 10 + 1 )//2 = 11//2 = 5.

Here we are creating 1st Hidden Layer having 5 nodes.

init -> Whenever we are starting or forming any neural network it is good to start with weights as 0 . or any number weight
        which is near to 0( Ex :- 0.23, 0.000023, etc )
        So, We have given "uniform" which will put the weights for us at first time with these near 0 types of values.

'''

c:\users\gauta\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=10, units=5, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

'\nHere, add is function of class Squential but inside that we are giving Dense() which will create Neural Network Layer.\nOutput_dim is the output of input_layer. \n\nSo, very first as input nodes we have 10 and output as 1.\nSo, Nodes in Hidden Layer = ( Input Nodes + Output Nodes )//2 = ( 10 + 1 )//2 = 11//2 = 5.\n\nHere we are creating 1st Hidden Layer having 5 nodes.\n\ninit -> Whenever we are starting or forming any neural network it is good to start with weights as 0 . or any number weight\n        which is near to 0( Ex :- 0.23, 0.000023, etc )\n        So, We have given "uniform" which will put the weights for us at first time with these near 0 types of values.\n\n'

In [28]:
ann.add( Dense( output_dim = 5, init = 'uniform', activation = 'relu' ) )

'''
Now, Here we are creating one more Hidden Layer i.e., Hidden Layer 2 and we don't have to specify the input_dim as We have already specified it once in previous block. Neural Network will
automatically determine the input_dim as 5( which is the no/ of nodes in Hidden Layer 1 ). But Output_dim is important to specify
as we will have to describe that at every hidden layer how many output we want.
'''

C:\Users\gauta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=5, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

"\nNow, Here we are creating one more Hidden Layer i.e., Hidden Layer 2 and we don't have to specify the input_dim as We have already specified it once in previous block. Neural Network will\nautomatically determine the input_dim as 5( which is the no/ of nodes in Hidden Layer 1 ). But Output_dim is important to specify\nas we will have to describe that at every hidden layer how many output we want.\n"

In [29]:
ann.add( Dense( output_dim = 1, init = 'uniform', activation = 'sigmoid' ) )

'''
Atlast, we don't want any further hidden layer. we want directly to jump onto output node. That's why we have given output_dim = 1

Question :- How, Neural Network Will come to that this block is going to be the final/output node ?

For the hidden layer we use rectifier Activation Function i.e., "relu" method . Where as For Output Layer we use Sigmoid
function i.e., "sigmoid" method.

Question :- Can we use only Sigmoid Function/ method for output layer ?

No, In Y/Output col/ Output Node, if we have 2 unique data( ex :- 0 or 1, True or False, Yes or No, etc ) Then, we go for 
Sigmoid function/method.
If our unique values in y are more than 2. Then we go for Softmax method.
'''

C:\Users\gauta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

'\nAtlast, we don\'t want any further hidden layer. we want directly to jump onto output node. That\'s why we have given output_dim = 1\n\nQuestion :- How, Neural Network Will come to that this block is going to be the final/output node ?\n\nFor the hidden layer we use rectifier Activation Function i.e., "relu" method . Where as For Output Layer we use Sigmoid\nfunction i.e., "sigmoid" method.\n\nQuestion :- Can we use only Sigmoid Function/ method for output layer ?\n\nNo, In Y/Output col/ Output Node, if we have 2 unique data( ex :- 0 or 1, True or False, Yes or No, etc ) Then, we go for \nSigmoid function/method.\nIf our unique values in y are more than 2. Then we go for Softmax method.\n'

In [30]:
ann.compile( optimizer = 'adam', loss = 'binary_crossentropy', metrics = [ 'accuracy' ] )

'''
Now, This is the last stage where we are compiling our neural structure to specify few more conditions.
adam is the optimizer for neural networks. We use optimizer to reduce the timing and fasten the neural network process.

loss = 'binary_crossentropy'/ Basically loss is 2 * cost Functions = ( Y_pred - Y ) * ( Y_pred - Y )

metrics = ['accuracy']. We are writing accuracy as we want neural network to increase the accuracy + we want to see the 
increasing accuracy.
'''

"\nNow, This is the last stage where we are compiling our neural structure to specify few more conditions.\nadam is the optimizer for neural networks. We use optimizer to reduce the timing and fasten the neural network process.\n\nloss = 'binary_crossentropy'/ Basically loss is 2 * cost Functions = ( Y_pred - Y ) * ( Y_pred - Y )\n\nmetrics = ['accuracy']. We are writing accuracy as we want neural network to increase the accuracy + we want to see the \nincreasing accuracy.\n"

In [31]:
ann.fit( x_train, y_train, batch_size = 10, nb_epoch = 100 )

C:\Users\gauta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4873 - accuracy: 0.7993
Epoch 2/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.4280 - accuracy: 0.7997
Epoch 3/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.4222 - accuracy: 0.7997
Epoch 4/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.4177 - accuracy: 0.8154
Epoch 5/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.4149 - accuracy: 0.8274
Epoch 6/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.4128 - accuracy: 0.8298
Epoch 7/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.4113 - accuracy: 0.8321
Epoch 8/100
8000/8000 [==============================] - 1s 92us/step - loss: 0.4100 - accuracy: 0.8342
Epoch 9/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4085 - accuracy: 0.8347
Epoch 10/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4083 - accuracy: 0.8355
Epoch 11/100
8000/8000 [==============================] - 1s 96us/step - loss: 0.4074 - accuracy: 0.8351
Epoch 12/100
4910/8000 [=================>............] - ETA: 0s - loss: 0.4019 - accuracy: 0.8393

KeyboardInterrupt:

In [36]:
y_probability = ann.predict( x_test )

print( pd.DataFrame( y_probability ).head(10) )
print()
print( y_probability.shape )

          0
0  0.067308
1  0.066706
2  0.069712
3  0.112614
4  0.068109
5  0.134454
6  0.072237
7  0.341900
8  0.216891
9  0.188157

(2000, 1)

In [37]:
y_pred = y_probability > 0.5
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [38]:
pd.DataFrame( y_pred ).head( 10 )

       0
0  False
1  False
2  False
3  False
4  False
5  False
6  False
7  False
8  False
9  False

In [39]:
from sklearn.metrics import confusion_matrix

In [40]:
cm = confusion_matrix( y_test, y_pred )

In [47]:
cm

array([[1525,   69],
       [ 247,  159]], dtype=int64)

In [48]:
correct_data = cm[0][0] + cm[1][1]
correct_data

1684

In [49]:
correct_data/ len( y_pred )

0.842

In [51]:
people_leaving_bank = 0

for i in y_pred:
    if( i == False ):
        people_leaving_bank = people_leaving_bank + 1

print( f"people leaving bank = { people_leaving_bank }" )
print( f"people not leaving bank = { len( y_pred ) - people_leaving_bank }" )

propability_people_leaving_bank = people_leaving_bank/len( y_pred )
propability_people_not_leaving_bank = 1 - propability_people_leaving_bank

print( f"propability of people leaving bank = { propability_people_leaving_bank*100 } %" )
print( f"propability of people not leaving bank = { propability_people_not_leaving_bank*100 } %" )

people leaving bank = 1772
people not leaving bank = 228
propability of people leaving bank = 88.6 %
propability of people not leaving bank = 11.399999999999999 %