In [1]:
'''
1) Read excel files.
2) Data Cleaning. - 
    i) Manual Data Filling -> common data for full dataframe, specific data for each columns.
    ii) Automatic Data Filling -> fillna, bfill
'''
import pandas as pd

In [3]:
book1xlsx = pd.read_excel("Excel Data/Book1.xlsx")

print( book1xlsx )
print( type( book1xlsx ) )

    A   B   C   D
0   1   2   3   9
1   2   4   5   1
2  21  23  32  42
3  32  76  23  65
<class 'pandas.core.frame.DataFrame'>

In [3]:
book1csv = pd.read_csv("Excel Data/Book1.csv")

print( book1csv )
print( type( book1csv ) )

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0        50      30  20.20
1         B   Rajiv     89.0        60      29  18.43
2         C     Anu      NaN        20      70  10.00
3         D    Suma    100.0        30      70    NaN
4         E    Rama     78.0        20      58  12.00
5         F  Sultan     -1.0        40     -41   8.00
<class 'pandas.core.frame.DataFrame'>

In [4]:
pddf1 = pd.read_excel("Excel Data\Data1.xlsx" )

In [5]:
print( pddf1 )

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     NaN     89.0      60.0     NaN  18.43
2         C     Anu      NaN      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0    NaN
4         E    Rama     78.0       NaN    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

In [13]:
print( pddf1.isnull().sum() )

Companies    0
Manager      1
Revenue      1
Expenses     1
Profit       1
EPS          1
dtype: int64

In [14]:
#To remove null value and replace it by any specific number.(Ex :- we are replacing null value by 0)
#we must give inplace = True. otherwise changes will not be updated.
#By default, it is False.

#There are 2 ways to do fillna,

#i) Fillna with diffrent value for diffrent columns,
#pddf1.fillna( { 'Manager' : 'Null', 'Revenue' : 0, 'Expenses' : 0, 'Profit' : 0, 'EPS' : 0 }, inplace = True)  

#ii) Fillna with only value for all columns,
#pddf1.fillna(0, inplace = True)

print( pddf1 )

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     NaN     89.0      60.0     NaN  18.43
2         C     Anu      NaN      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0    NaN
4         E    Rama     78.0       NaN    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

In [15]:
print("Back Fill - bfillna and when axis = 1 or columns\n")

pddf2 = pddf1.fillna( method = 'bfill' )
print( pddf2 )
print()
print( f"type(pddf2) = { type(pddf2) }" )
print()

Back Fill - bfillna and when axis = 1 or columns

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     Anu     89.0      60.0    70.0  18.43
2         C     Anu    100.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  12.00
4         E    Rama     78.0      40.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

type(pddf2) = <class 'pandas.core.frame.DataFrame'>

In [16]:
pddf2 = 'Hello'
print( pddf2 )
print( f"type(pddf2) = { type(pddf2) }" )
print()
print(pddf1)
print()
print("when, axis = 1")
pddf2 = pddf1.fillna( method = 'bfill', axis = 1 )  #axis can be equal to 1 or 'columns' ( both are same )
print( pddf2 )
print()
print( f"type(pddf2) = {type(pddf2)}" )
print()

Hello
type(pddf2) = <class 'str'>

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     NaN     89.0      60.0     NaN  18.43
2         C     Anu      NaN      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0    NaN
4         E    Rama     78.0       NaN    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

when, axis = 1
  Companies Manager Revenue Expenses Profit    EPS
0         A  Gautam      80       50     30   20.2
1         B      89      89       60  18.43  18.43
2         C     Anu      20       20     70     10
3         D    Suma     100       30     70    NaN
4         E    Rama      78       58     58     12
5         F  Sultan      -1       40    -41      8

type(pddf2) = <class 'pandas.core.frame.DataFrame'>

In [17]:
pddf2 = 'Hello'
print( pddf2 )
print( f"type(pddf2) = {type(pddf2)}" )
print()
print("When, axis = 'columns' ")
pddf2 = pddf1.fillna( method = 'bfill', axis = 'columns' )  #axis can be equal to 1 or 'columns' ( both are same )
print( pddf2 )
print( f"type(pddf2) = {type(pddf2)}" )

Hello
type(pddf2) = <class 'str'>

When, axis = 'columns'
  Companies Manager Revenue Expenses Profit    EPS
0         A  Gautam      80       50     30   20.2
1         B      89      89       60  18.43  18.43
2         C     Anu      20       20     70     10
3         D    Suma     100       30     70    NaN
4         E    Rama      78       58     58     12
5         F  Sultan      -1       40    -41      8
type(pddf2) = <class 'pandas.core.frame.DataFrame'>

In [18]:
print("Forward Fill - ffillna and when axis = 1 or columns\n")

pddf3 = pddf1.fillna( method = 'ffill' )
print( pddf3 )
print()
print( f"type(pddf3) = {type(pddf3)}" )
print()

pddf3 = 'Hello'
print( pddf3 )
print( f"type(pddf3) = {type(pddf3)}" )
print()

Forward Fill - ffillna and when axis = 1 or columns

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B  Gautam     89.0      60.0    30.0  18.43
2         C     Anu     89.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  10.00
4         E    Rama     78.0      30.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

type(pddf3) = <class 'pandas.core.frame.DataFrame'>

Hello
type(pddf3) = <class 'str'>

In [19]:
print("when, axis = 1")
pddf3 = pddf1.fillna( method = 'ffill', axis = 1 )  #axis can be equal to 1 or 'columns' ( both are same )
print( pddf3 )
print()
print( f"type(pddf3) = {type(pddf3)}" )
print()

pddf3 = 'Hello'
print( pddf3 )
print( f"type(pddf3) = {type(pddf3)}" )
print()

when, axis = 1
  Companies Manager Revenue Expenses Profit    EPS
0         A  Gautam      80       50     30   20.2
1         B       B      89       60     60  18.43
2         C     Anu     Anu       20     70     10
3         D    Suma     100       30     70     70
4         E    Rama      78       78     58     12
5         F  Sultan      -1       40    -41      8

type(pddf3) = <class 'pandas.core.frame.DataFrame'>

Hello
type(pddf3) = <class 'str'>

In [20]:
print("When, axis = 'columns' ")
pddf3 = pddf1.fillna( method = 'ffill', axis = 'columns' )  #axis can be equal to 1 or 'columns' ( both are same )
print( pddf3 )
print( f"type(pddf3) = {type(pddf3)}" )

When, axis = 'columns'
  Companies Manager Revenue Expenses Profit    EPS
0         A  Gautam      80       50     30   20.2
1         B       B      89       60     60  18.43
2         C     Anu     Anu       20     70     10
3         D    Suma     100       30     70     70
4         E    Rama      78       78     58     12
5         F  Sultan      -1       40    -41      8
type(pddf3) = <class 'pandas.core.frame.DataFrame'>

In [21]:
print("Forward Fill - bfillna and when axis = 0 or index\n")

pddf2 = pddf1.fillna( method = 'bfill' )
print( pddf2 )
print()
print( f"type(pddf2) = {type(pddf2)}" )
print()

pddf2 = 'Hello'
print( pddf2 )
print( f"type(pddf2) = {type(pddf2)}" )
print()
print("when, axis = 0")
pddf2 = pddf1.fillna( method = 'bfill', axis = 0 )  #axis can be equal to 0 or 'index' ( both are same )
print( pddf2 )
print()
print( f"type(pddf2) = {type(pddf2)}" )
print()

Forward Fill - bfillna and when axis = 0 or index

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     Anu     89.0      60.0    70.0  18.43
2         C     Anu    100.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  12.00
4         E    Rama     78.0      40.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

type(pddf2) = <class 'pandas.core.frame.DataFrame'>

Hello
type(pddf2) = <class 'str'>

when, axis = 0
  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     Anu     89.0      60.0    70.0  18.43
2         C     Anu    100.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  12.00
4         E    Rama     78.0      40.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

type(pddf2) = <class 'pandas.core.frame.DataFrame'>

In [22]:
pddf2 = 'Hello'
print( pddf2 )
print( f"type(pddf2) = {type(pddf2)}" )
print()
print("When, axis = 'index' ")
pddf2 = pddf1.fillna( method = 'bfill', axis = 'index' )  #axis can be equal to 0 or 'index' ( both are same )
print( pddf2 )
print( f"type(pddf2) = {type(pddf2)}" )

Hello
type(pddf2) = <class 'str'>

When, axis = 'index'
  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B     Anu     89.0      60.0    70.0  18.43
2         C     Anu    100.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  12.00
4         E    Rama     78.0      40.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00
type(pddf2) = <class 'pandas.core.frame.DataFrame'>

In [23]:
print("Forward Fill - fillna and when axis = 0 or index\n")

pddf3 = pddf1.fillna( method = 'ffill' )
print( pddf3 )
print()
print( f"type(pddf3) = {type(pddf3)}" )
print()

pddf3 = 'Hello'
print( pddf3 )
print( f"type(pddf3) = {type(pddf3)}" )
print()
print("when, axis = 0")
pddf3 = pddf1.fillna( method = 'ffill', axis = 0 )  #axis can be equal to 1 or 'columns' ( both are same )
print( pddf3 )
print()
print( f"type(pddf3) = {type(pddf3)}" )
print()

pddf3 = 'Hello'
print( pddf3 )
print( f"type(pddf3) = {type(pddf3)}" )
print()
print("When, axis = 'index' ")
pddf3 = pddf1.fillna( method = 'ffill', axis = 'index' )  #axis can be equal to 1 or 'columns' ( both are same )
print( pddf3 )
print( f"type(pddf3) = {type(pddf3)}" )

Forward Fill - fillna and when axis = 0 or index

  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B  Gautam     89.0      60.0    30.0  18.43
2         C     Anu     89.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  10.00
4         E    Rama     78.0      30.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

type(pddf3) = <class 'pandas.core.frame.DataFrame'>

Hello
type(pddf3) = <class 'str'>

when, axis = 0
  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B  Gautam     89.0      60.0    30.0  18.43
2         C     Anu     89.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  10.00
4         E    Rama     78.0      30.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00

type(pddf3) = <class 'pandas.core.frame.DataFrame'>

Hello
type(pddf3) = <class 'str'>

When, axis = 'index'
  Companies Manager  Revenue  Expenses  Profit    EPS
0         A  Gautam     80.0      50.0    30.0  20.20
1         B  Gautam     89.0      60.0    30.0  18.43
2         C     Anu     89.0      20.0    70.0  10.00
3         D    Suma    100.0      30.0    70.0  10.00
4         E    Rama     78.0      30.0    58.0  12.00
5         F  Sultan     -1.0      40.0   -41.0   8.00
type(pddf3) = <class 'pandas.core.frame.DataFrame'>

In [29]:
pddf1.corr()

           Revenue  Expenses    Profit       EPS
Revenue   1.000000  0.134522  0.968364  0.811400
Expenses  0.134522  1.000000 -0.569693  0.738330
Profit    0.968364 -0.569693  1.000000  0.257348
EPS       0.811400  0.738330  0.257348  1.000000