In [1]:
import pandas as pd

In [2]:
book1xlsx = pd.read_excel("Excel Data/Book1.xlsx")

print( book1xlsx )
print( type( book1xlsx ) )

    A   B   C   D
0   1   2   3   9
1   2   4   5   1
2  21  23  32  42
3  32  76  23  65
<class 'pandas.core.frame.DataFrame'>

In [14]:
data = []
col = book1xlsx.columns

for i in range( len( book1xlsx.index ) ):
    temp = []
    
    for j in col:
        temp.append( book1xlsx[j][i] )
    
    data.append( temp )
    
pd.DataFrame( data ).to_csv(  )

    0   1   2   3
0   1   2   3   9
1   2   4   5   1
2  21  23  32  42
3  32  76  23  65

In [15]:
def convert_xlsx_to_csv( path1, path2 ):
    book1xlsx = pd.read_excel( path1 )
    col = book1xlsx.columns
    
    data = []
    for i in range( len( book1xlsx.index ) ):
        temp = []

        for j in col:
            temp.append( book1xlsx[j][i] )

        data.append( temp )

    pd.DataFrame( data ).to_csv( path2 )

    
path1 = r"Excel Data/Book1.xlsx"
path2 = r"Excel Data/Converted_csv.csv"
convert_xlsx_to_csv( path1, path2 )

1 -> 2 -> 3 -> 9 ->
2 -> 4 -> 5 -> 1 ->
21 -> 23 -> 32 -> 42 ->
32 -> 76 -> 23 -> 65 ->